.header {
background-color: #001529;

}

.loginBlock {
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 10px;
    cursor: pointer;
    float: right;
}

.userIcon{
    margin-right: 10px;
}

.loginName{
    margin-right: 15px;
}