.contentImg {
    margin: 0 auto;
    width: 805px;
    box-sizing: border-box;
    border-radius: 10px;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto{
    width: 200px;
}

.contact{
    padding-left: 10px;
}

.jobSearchIcon{
    width: 30px;
}