.myFriendsTitle{
    margin-top: 100px;
    margin-left: 13px;
    color: firebrick;
}

.myFriendsWrapper{
    display: flex;
    justify-content: space-around;
}

.friendWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendImg img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.friendTitle span{
    font-size: 14px;
    color: white;
}