.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas: "h h" "n c";

    grid-template-rows:60px 1fr;
    grid-template-columns: 2fr 10fr;
    box-sizing: border-box;
}

.app-wrapper-content {
    padding: 10px;
    grid-area: c;
    background-color: lightblue;
}

.logo1{
    margin-top: 5px;
    margin-left: 69px;
    margin-bottom: 5px;
    width: 49px;
}


